extends ./layout/index

block slider 
    .slider     
        h1 Rio de Janeiro 
        em aventura

block contenido 
    main.container.mt-5
        h2.text-center.mt-5 Sobre nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis auctor sem, ac dapibus dolor aliquet nec. Curabitur volutpat scelerisque risus non auctor. Curabitur laoreet, justo sit amet fermentum rhoncus, lectus erat accumsan elit, in molestie lacus nibh ac diam. Donec ut aliquet arcu. Etiam viverra ornare nisl et commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

                p Nam sodales semper velit non euismod. Duis et diam sed elit ultricies elementum. In eget metus vitae nunc consectetur placerat vitae in eros. Vivamus lectus est, egestas eu aliquet sed, pharetra ut quam. 

            .col-md-6  
                img(src="/img/inicio_nosotros.jpg", alt="Imagen nosotros", class="img-fluid")
        //- p= JSON.stringify(viajes)
        include ./layout/bloque_viajes
    
    .descuento 
        .container 
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de DESCUENTO 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de marzo de 2022 - 28 de marzo 2022
                        p.precio $2.500 USD

    .container 
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales